body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.head {
    font-family: "roboto";
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
    gap: 800px;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    padding: 75px;
}

.button {
    display: flex;
    color: #3882F6;
    padding: 0px;
    gap: 0px;
    margin: 0px;
}

.headerContent {
    display: flex;
    margin: 50px;
}

.heroMainText {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.heroSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
}

img.heroImage {
    width: 300px;
}

.headerLogo {
    font-size: 24px;
    color:#F9FAF8;
}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.infoContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}

.text {
    max-width: 208px;
}

.infoImage {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.infoHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px;
}

.quoteText {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.author {
    display: flex;
    font-weight: 900;
    justify-content: right;
}

.footer {
    display: flex;
    font-family: "roboto";
    background-color: #1F2937;
    justify-content: center;
    padding: 50px;
}

.callToAction {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card {
    display: flex;
    color: white;
    border: 100px solid #3882F6;
    background-color: #3882F6;
    border-radius: 10px;
}

.ctaHeader {
    font-size: 22px;
}

.ctaText {
    color: white;
}

.ctaButton {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
