body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.right-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.headerContent {
    display: flex;
}

.infoContainer {
    display: flex;
}

.quote {
    display: flex;
}

.callToAction {
    display: flex;
}

.footer {
    display: flex;
}