body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.right-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/*
.headerContent {
}

.infoContainer {
}

.quote {
}

.callToAction {
}

.footer {
}
*/