body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;

}

.headerLogo {
    display: flex;
    flex-direction: column;
}

.headerContent {
    display: flex;
}

.infoContainer {
    display: flex;
}

.quote {
    display: flex;
}

.callToAction {
    display: flex;
}

.footer {
    display: flex;
}